PORT = ''
MONGODB_URI = ''
CLOUDINARY_CLOUD_NAME=''
CLOUDINARY_API_KEY=''
CLOUDINARY_SECRET=''

JWT_TOKEN_SECRET = ''
JWT_TOKEN_EXPIRY = ''

TRANSPORTER_EMAIL = ''
TRANSPORTER_PASSWORD = ''

STRIPE_SECRET_KEY=''

# Full URL with HTTPS scheme for Stripe redirects
# Example: https://yourdomain.com or https://localhost:3000
FRONTEND_URL='https://your-domain.com'